.header {
  overflow: hidden;
  background-color: #0073d9;
  padding: 10px 10px;
  color: White;
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
}

.extra-margin{
	margin-right: 10px;
}

.btn-fl{
	background-color: #0073d9; 
	display: block;
    width: 100%;
	color:white; 
	padding: 5px 13px;
}

.btn-am{
	color:#0073d9;
	display: block;
	width: 100%;
	background-color: white;
	box-shadow: none;
	padding: 5px 13px;
}
.box-frsl{
  background-color: white; 
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  border: 1px solid;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.box-frsl:hover {
  background-color: gray;
  color: white;
}

.p-srt{
  color: black;
  margin-top: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  border: 1px solid;
  font-size: 14px;
}

.bhk{
	padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  border: 1px solid;
  font-size: 14px;
}

.box-mm{
	padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid;
  font-size: 14px;
}