.header {
  overflow: hidden;
  background-color: #0073d9;
  padding: 10px 10px;
  color: White;
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
}

.extra-margin{
	margin-right: 10px;
}

.btn-fl{
	background-color: #0073d9; 
	display: block;
    width: 100%;
	color:white; 
	padding: 5px 13px;
}

.btn-am{
	color:#0073d9;
	display: block;
	width: 100%;
	background-color: white;
	box-shadow: none;
	padding: 5px 13px;
}
.box-frsl{
  background-color: white; 
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  border: 1px solid;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.box-frsl:hover {
  background-color: gray;
  color: white;
}

.p-srt{
  color: black;
  margin-top: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  border: 1px solid;
  font-size: 14px;
}

.bhk{
	padding: 5px 10px;
	background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  border: 1px solid;
  font-size: 14px;
}

::-webkit-input-placeholder {
	text-align: right;
}

.box-mm{
	padding: 5px 10px;
	margin: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 25%;
  border: 1px solid;
  font-size: 14px;
}


.breadcrumb > li + li:before {
    color: black;
    content: ">";
    padding: 0 5px;
}
.main-link{
	font-size: 16px;
	font-weight: bold;
}

.col-container {
  display: table;
  width: 100%;
}
.col {
  display: table-cell;
  padding: 16px;
}

.price-bg{
	background-color: gray;
	color: white;
	font-weight: bold;
	padding: 10px;
}

#header {
  position: relative;
  min-height: 140px;
  margin-left: 35px;
}

#header-content {
  position: absolute;
  bottom: 0;
  left: 0;
}



.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

